
<div class="about-container">
    <h2>Sobre el Proyecto</h2>
    <p>Esta API proporciona datos sobre resultados deportivos en tiempo real, incluyendo información sobre partidos, equipos y estadísticas. Fue creada para facilitar la integración de datos deportivos en aplicaciones web y móviles.</p>
    
    <h3>Tecnologías Utilizadas</h3>
    <p><strong>Frontend:</strong> Angular</p>
    <p><strong>Backend:</strong> Node.js, Express</p>
    <p><strong>Api:</strong> thesportsdb.com</p>
   
    
    <h3>Historia del Proyecto</h3>
    <p>Este proyecto comenzó como un reto personal para aprender más sobre integración de APIs en Angular. A medida que avanzaba, se incluyeron más funcionalidades, como resultados en vivo de deportes, y la base de datos fue mejorando con el tiempo.</p>
    
    <h3>Contacto</h3>
    <p>Si tienes alguna pregunta o sugerencia, no dudes en ponerte en contacto con nosotros:</p>
    <ul>
      <li><a href="mailto:contacto@deporteapi.com">contactogmail.com</a></li>
      <li><a href="https://twitter.com/deporteapi" target="_blank">Síguenos en Twitter</a></li>
    </ul>
  </div>
  